%h2 Projects
%ul.menu
  %li
    %a{ :href => "/nesta" } Nesta CMS
  %li
    %a{ :href => "/projects" } Recent software
  %li
    %a{ :href => "http://github.com/gma", :class => "github" } My github page

- if ! @menu_items.empty?
  %h2 Articles by category
  %ul.menu
    - @menu_items.each do |page|
      %li
        %a{ :href => page.abspath }= page.heading

= haml :about
