$primary: #2f5086

p.buttons
  margin: 1.5em 0

a.button
  -webkit-boder-radius: 14px
  -moz-boder-radius: 14px
  border-radius: 14px
  padding: 5px 14px 6px
  background: #303b47 url(/local/images/glass-button.png) repeat-x 0 50%
  color: white
  font-weight: bold
  font-size: 90%
  text-decoration: none
  &:hover
    background-color: $primary - #111

img.flow
  float: right
  margin-bottom: 0.5em
  margin-left: 1em